@media screen and (min-width: 768px) {
  .header {
    height: 1.6rem; }
    .header .header-top {
      width: 40%;
      height: 1.6rem; }
      .header .header-top .mylogo {
        margin-top: .05rem;
        margin-left: 0;
        height: 1.4rem;
        overflow: hidden;
        padding: .1rem;
        display: inline-block; }
        .header .header-top .mylogo img {
          width: 1.3rem;
          float: left;
          vertical-align: middle; }
        .header .header-top .mylogo .logo-title {
          color: #172027;
          font-family: KaiTi;
          font-size: .48rem;
          line-height: 1.5;
          text-align: center;
          display: inline-block;
          margin-top: .2rem;
          margin-left: .2rem; }
      .header .header-top .navBtn {
        margin-top: .22rem; }
    .header .mynav {
      height: 1.6rem; }
      .header .mynav li {
        padding: 0 .4rem;
        text-align: center; }
        .header .mynav li a {
          padding: 0;
          line-height: 1.6rem;
          font-size: .32rem; }

  .main {
    margin-top: 1.6rem; }
    .main .banner {
      background: url("http://img.zcool.cn/zcool-diy/ibf2fcf97ec770221687e9b92c76afe3c1.jpg@1920w_1l_1an.src");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 16rem;
      position: relative; }
      .main .banner .banner-content {
        width: 50%;
        height: 3.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1.8rem;
        margin-left: -25%;
        text-align: center;
        background-image: url("../img/kuang.png");
        background-repeat: no-repeat;
        background-size: 100% 100%; }
        .main .banner .banner-content .contentImg {
          margin-top: 1.2rem; }
        .main .banner .banner-content .desc {
          color: white;
          font-family: PingFangSC-Medium;
          font-size: .96rem;
          line-height: 1.5;
          text-align: center;
          margin-top: .4rem; }
    .main .htkDesc {
      padding: 1.2rem 0; }
      .main .htkDesc .title {
        width: 100%;
        text-align: center;
        color: #1f1f1f;
        font-size: .72rem;
        line-height: 1.5; }
      .main .htkDesc .desc, .main .htkDesc .info {
        padding-top: .4rem;
        color: rgba(117, 109, 109, 0.87);
        font-family: Microsoft YaHei;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.6;
        text-align: left; }
      .main .htkDesc .info {
        padding-top: 1rem; }
      .main .htkDesc .ewm {
        padding-top: 2rem;
        color: #172027;
        font-family: FZLTCHK-GBK1-0;
        font-size: .4rem;
        line-height: 1.5; }
        .main .htkDesc .ewm .ewmBox img {
          width: 80%;
          margin-bottom: .4rem; }
        .main .htkDesc .ewm .ewmBox2 img {
          width: 80%;
          margin-bottom: .4rem; }
    .main .productDesc {
      text-align: center;
      padding-top: 2.6rem;
      padding-bottom: 2.6rem; }
      .main .productDesc .title {
        color: #1f1f1f;
        font-size: .72rem;
        line-height: 1.5; }
      .main .productDesc .desc {
        color: #1f1f1f;
        font-family: Helvetica;
        font-size: .48rem;
        line-height: 1.5; }
      .main .productDesc .line {
        width: 1rem;
        height: .1rem;
        background: #1478f0;
        border-width: 0;
        border-radius: 0;
        border-style: solid;
        margin: 0 auto;
        margin-bottom: .8rem;
        margin-top: .6rem; }
      .main .productDesc .productContent p:nth-child(1) {
        margin-left: .4rem; }
      .main .productDesc .productContent img {
        width: 100%; }

  .footer {
    background: #2776d3;
    height: 5rem;
    overflow: hidden; }
    .footer .mynav2 {
      margin: 0 auto;
      float: none;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      text-align: center; }
      .footer .mynav2 li {
        width: 20%; }
        .footer .mynav2 li a {
          color: #000;
          font-size: .32rem;
          background: #2776d3; }
          .footer .mynav2 li a:hover {
            color: #fff; }
    .footer .title {
      font-size: .4rem;
      letter-spacing: 2px;
      color: #8798aa; } }
@media screen and (max-width: 768px) {
  .header {
    height: 1.2rem; }
    .header .header-top {
      height: 1.2rem; }
      .header .header-top .mylogo {
        width: 70%;
        height: 1.2rem;
        overflow: hidden;
        padding: .1rem;
        margin-left: .1rem; }
        .header .header-top .mylogo img {
          width: .8rem;
          float: left;
          margin-top: .1rem; }
        .header .header-top .mylogo .logo-title {
          color: #172027;
          font-family: KaiTi;
          font-size: .32rem;
          text-align: center;
          display: inline-block;
          margin-top: .3rem;
          margin-left: .06rem; }
      .header .header-top .navBtn {
        margin-top: .22rem; }

  .main {
    margin-top: 1.2rem; }
    .main .banner {
      background: url("http://img.zcool.cn/zcool-diy/ibf2fcf97ec770221687e9b92c76afe3c1.jpg@1920w_1l_1an.src");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 4.44rem;
      position: relative; }
      .main .banner .banner-content {
        width: 60%;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.8rem;
        margin-left: -30%;
        text-align: center;
        background-image: url("../img/kuang.png");
        background-repeat: no-repeat;
        background-size: 100% 100%; }
        .main .banner .banner-content .contentImg img {
          width: 100%; }
        .main .banner .banner-content .contentImg {
          margin-top: .6rem; }
          .main .banner .banner-content .contentImg img {
            width: 80%; }
        .main .banner .banner-content .desc {
          color: white;
          font-family: PingFangSC-Medium;
          font-size: .48rem;
          line-height: 1.5;
          text-align: center;
          margin-top: .4rem; }
    .main .htkDesc {
      padding-top: 1rem; }
      .main .htkDesc .title {
        width: 100%;
        text-align: center;
        color: #1f1f1f;
        font-size: .56rem;
        line-height: 1.5; }
      .main .htkDesc .desc, .main .htkDesc .info {
        padding-top: .4rem;
        color: rgba(117, 109, 109, 0.87);
        font-family: Microsoft YaHei;
        font-size: .36rem;
        font-weight: bold;
        line-height: 1.6;
        text-align: left; }
      .main .htkDesc .info {
        padding-top: 1rem; }
      .main .htkDesc .ewm {
        padding-top: .4rem;
        color: #172027;
        font-family: FZLTCHK-GBK1-0;
        font-size: .28rem;
        line-height: 1.5; }
        .main .htkDesc .ewm .ewmBox img {
          width: 80%;
          margin-bottom: .4rem; }
        .main .htkDesc .ewm .ewmBox2 img {
          width: 80%;
          margin-bottom: .4rem; }
    .main .productDesc {
      text-align: center;
      padding-top: 0.8rem;
      padding-bottom: .6rem; }
      .main .productDesc .title {
        color: #1f1f1f;
        font-size: .56rem;
        line-height: 1.5; }
      .main .productDesc .desc {
        color: #1f1f1f;
        font-family: Helvetica;
        font-size: .36rem;
        line-height: 1.5; }
      .main .productDesc .line {
        width: 1rem;
        height: .1rem;
        background: #1478f0;
        border-width: 0;
        border-radius: 0;
        border-style: solid;
        margin: 0 auto;
        margin-bottom: .8rem;
        margin-top: .4rem; }
      .main .productDesc .productContent p:nth-child(1) {
        margin-left: .4rem; }
      .main .productDesc .productContent p {
        margin-bottom: .4rem; }
      .main .productDesc .productContent img {
        width: 100%; }

  .footer {
    background: #2776d3;
    height: 1rem;
    overflow: hidden; }
    .footer .mynav2 {
      margin: 0 auto;
      float: none;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      text-align: center;
      display: none; }
      .footer .mynav2 li {
        width: 20%; }
        .footer .mynav2 li a {
          color: #000;
          font-size: .32rem;
          background: #2776d3; }
          .footer .mynav2 li a:hover {
            color: #fff; }
    .footer .title {
      font-size: .24rem;
      letter-spacing: 1px;
      margin-top: .2rem;
      line-height: 1.5;
      color: #8798aa; } }

/*# sourceMappingURL=productcenter.css.map */
